In [1]:
import numpy as np
import pandas as pd
import os
# for i in os.walk('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data'):
#     print(i)

In [2]:
#load data
isruc1 = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupI\\scoring_i.csv')
isruc2 = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupII\\scoring_ii.csv')
isruc3 = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupIII\\scoring_iii.csv')
summary_isruc = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupI\\scoring_summary_i.csv')

df = pd.read_csv('aggregated_sleep_data.csv')
cleaned_df = pd.read_csv('cleaned_sleep_stage_data.csv')

edf = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\sleep_edf_raw.csv')

C:\Users\baron\.conda\envs\trading\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df

,Unnamed: 0,nsrrid,session,0,1,2,3,5,total_stage,w%,...,rawpf_s2,rawre_s2,rawrp_s2,rawsf_s2,rawvt_s2,re_s2,rp_s2,sf_s2,vt_s2,age_s2
0,0,200079,1,21.0,14.0,526.0,35.0,34.0,630.0,3.333333,...,20.000000,6.0,4.0,6.0,5.0,100.000000,0.0,50.0,5.0,NaN
1,1,200082,1,52.0,33.0,462.0,151.0,182.0,880.0,5.909091,...,30.000000,6.0,8.0,10.0,15.0,100.000000,100.0,100.0,55.0,NaN
2,2,200108,1,86.0,24.0,432.0,113.0,155.0,810.0,10.617284,...,27.000000,4.0,7.0,9.0,14.0,33.333333,75.0,87.5,50.0,NaN
3,3,200109,1,85.0,62.0,301.0,336.0,86.0,870.0,9.770115,...,28.000000,6.0,8.0,10.0,20.0,100.000000,100.0,100.0,80.0,NaN
4,4,200112,1,82.0,39.0,472.0,73.0,144.0,810.0,10.123457,...,30.000000,6.0,8.0,10.0,16.0,100.000000,100.0,100.0,60.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,490,205654,2,200.0,52.0,573.0,15.0,160.0,1000.0,20.000000,...,NaN,NaN,NaN,10.0,15.0,NaN,NaN,100.0,55.0,72.0
977,491,205655,2,33.0,11.0,341.0,188.0,187.0,760.0,4.342105,...,27.777778,6.0,8.0,10.0,16.0,100.000000,100.0,100.0,60.0,63.0
978,492,205657,2,217.0,41.0,399.0,71.0,112.0,840.0,25.833333,...,28.888889,6.0,8.0,10.0,16.0,100.000000,100.0,100.0,60.0,68.0
979,493,205668,2,94.0,85.0,591.0,97.0,233.0,1100.0,8.545455,...,22.222222,6.0,7.0,10.0,18.0,100.000000,75.0,100.0,70.0,73.0
980,494,205677,2,291.0,49.0,422.0,147.0,111.0,1020.0,28.529412,...,28.888889,6.0,8.0,10.0,20.0,100.000000,100.0,100.0,80.0,68.0

In [4]:
summary_isruc

,Unnamed: 0,subject,age,sex,diagnosis,other problems,epoches,w%,n1%,n2%,n3%,rem%,date of recording,w%.1,n1%.1,n2%.1,n3%.1,rem%.1,medication,eeg alterations
0,0,1,64.0,M,SAOS,Depression,880,30.00,8.30,22.05,26.25,13.41,2009-05-18,30.91,4.77,24.09,26.25,13.98,SSRI; trazodona,NaN
1,1,2,52.0,M,SAOS,Restless leg syndrome,964,25.41,11.93,35.79,16.29,10.58,2009-08-06,21.99,11.93,44.40,11.10,10.58,NaN,NaN
2,2,3,38.0,M,REM Sleep Behaviour Disorder,PLMS,943,14.00,17.50,26.09,18.35,24.07,2009-05-21,12.73,4.45,39.24,15.69,27.89,Risperidona; Tegretol,NaN
3,3,4,27.0,M,SRVAS,Epilepsy,963,2.91,6.75,44.24,22.22,23.88,2009-06-18,2.70,3.43,43.61,25.65,24.61,NaN,Paroxistic activity left fronto-parietal
4,4,5,58.0,F,SAOS,Insomnia,875,33.83,12.34,30.29,18.74,4.80,2009-05-25,35.66,4.69,35.66,18.86,5.14,BZD,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,96,64.0,M,SAOS,NaN,858,17.25,6.76,36.95,23.19,15.85,2012-03-16,18.07,6.29,32.87,27.62,15.15,NaN,NaN
96,96,97,66.0,F,SAOS,NaN,912,21.82,10.09,23.25,28.62,16.23,2012-03-16,19.96,8.77,27.41,25.22,18.64,BZD,Rapid activity in EEG; slower activity in W
97,97,98,39.0,M,RONCOPATIA,NaN,899,15.80,16.35,37.04,15.68,15.13,2012-03-23,23.36,12.79,40.27,11.46,12.12,NaN,NaN
98,98,99,36.0,M,SAOS,NaN,835,7.66,2.40,39.16,27.43,23.35,2012-01-27,6.95,4.91,35.09,28.74,24.31,NaN,NaN
99,99,100,65.0,M,SAOS,NaN,861,8.94,17.54,38.21,20.09,15.21,2012-03-27,16.14,8.36,41.35,18.35,15.80,NaN,NaN

In [365]:
#cleaning
cleaned_df = cleaned_df[['epoch', 'nsrrid','sleep_stage']]
cleaned_df.columns = ['epoch', 'patient_id', 'stage']

isruc1 = isruc1[['epoch', 'stage', 'spo2', 'hr', 'events', 'bpos', 'txln','txex', 'technote', 'patient_id', 'score_id']]
isruc1['patient_id'] += 2000
isruc2 = isruc2[['epoch', 'stage', 'spo2', 'hr', 'events', 'bpos', 'txln','txex', 'technote', 'patient_id', 'score_id']]
isruc2['patient_id'] += 3000
isruc3 = isruc3[['epoch', 'stage', 'spo2', 'hr', 'events', 'bpos', 'txln','txex', 'technote', 'patient_id', 'score_id']]
isruc2['patient_id'] += 4000
isruc = pd.concat([isruc1, isruc2, isruc3])
isruc = isruc[['epoch', 'patient_id','stage']]
isruc['epoch'] = isruc['epoch'].astype('int')

edf[['epoch', 'patient_id', 'condition', 'EEG Fpz-Cz', 'EEG Pz-Oz','EOG horizontal', 'Resp oro-nasal', 'EMG submental', 'Temp rectal','Event marker']]
edf = edf[['epoch', 'patient_id','condition']]
edf.columns = ['epoch', 'patient_id', 'stage']

In [366]:
#features
final_df = pd.concat([cleaned_df, isruc, edf])
final_df = final_df.replace('Sleep stage W', 'W')
final_df = final_df.replace('Sleep stage R', 'R')
final_df = final_df.replace('Sleep stage 1', '1')
final_df = final_df.replace('Sleep stage 2', '2')
final_df = final_df.replace('Sleep stage 3/4', '3')
final_df = final_df.replace('w', 'W')
final_df = final_df.merge(final_df.groupby(['patient_id','stage'], as_index = False).count(), left_on = ['patient_id','stage'], right_on = ['patient_id','stage'], how = 'left')
final_df = final_df.merge(final_df.groupby(['patient_id'], as_index = False).count(), left_on = ['patient_id'], right_on = ['patient_id'], how = 'left')
final_df = final_df[['patient_id', 'stage_x', 'epoch_y_x', 'epoch_y_y']]
final_df['%'] = final_df['epoch_y_x'] / final_df['epoch_y_y']
train_data = final_df[['patient_id', 'stage_x','%']].drop_duplicates().pivot(index = 'patient_id', columns = 'stage_x')
train_data.to_csv('train_data.csv')
train_data

,%,%,%,%,%,%,%,%,%,%,%,%,%,%,%,%
stage_x,0,1,2,3,5,1,2,3,N,N1,N2,N3,R,U,W,n2
patient_id,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,0.021099,0.090942,0.080029,NaN,0.083303,0.278283,0.133867,0.130593,0.000364,0.181521,NaN
2,NaN,NaN,NaN,NaN,NaN,0.036516,0.188275,0.035176,NaN,0.083752,0.216080,0.147404,0.172194,NaN,0.120603,NaN
3,NaN,NaN,NaN,NaN,NaN,0.035166,0.203891,0.035541,NaN,0.051627,0.191919,0.226337,0.143659,0.000374,0.111485,NaN
4,NaN,NaN,NaN,NaN,NaN,0.024016,0.190945,0.022441,NaN,0.106693,0.177953,0.124803,0.167717,NaN,0.185433,NaN
5,NaN,NaN,NaN,NaN,NaN,0.053154,0.198527,0.016971,NaN,0.057317,0.193724,0.108870,0.119757,0.000320,0.251361,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205654,0.157895,0.054737,0.604737,0.039474,0.143158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205655,0.060000,0.021290,0.490323,0.227097,0.201290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205657,0.257927,0.057927,0.465854,0.103049,0.115244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205668,0.077340,0.065517,0.529064,0.114778,0.213300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205677,0.239899,0.046465,0.407071,0.182828,0.123737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [367]:
summary_isruc=summary_isruc[['subject', 'age', 'sex', 'diagnosis', 'other problems']]
summary_isruc['subject'] += 2000
summary_isruc.columns = ['patient_id', 'age', 'sex', 'diagnosis', 'other problems']
df = df[['nsrrid', 'age_s1', 'gender']]
df = df.replace(1, 'M')
df = df.replace(2, 'F')
# edf= edf['patient_id'].drop_duplicates()
# edf.column = ['patient_id']
df.columns = ['patient_id','age', 'sex']
df = df.dropna()
test_data = pd.concat([summary_isruc, df])
test_data.to_csv('test_data.csv')
test_data

     patient_id   age sex                     diagnosis         other problems
0          2001  64.0   M                          SAOS             Depression
1          2002  52.0   M                          SAOS  Restless leg syndrome
2          2003  38.0   M  REM Sleep Behaviour Disorder                   PLMS
3          2004  27.0   M                         SRVAS              Epilepsy
4          2005  58.0   F                          SAOS               Insomnia
..          ...   ...  ..                           ...                    ...
481      205654  67.0   M                           NaN                    NaN
482      205655  58.0   F                           NaN                    NaN
483      205657  63.0   M                           NaN                    NaN
484      205668  68.0   F                           NaN                    NaN
485      205677  63.0   F                           NaN                    NaN

[586 rows x 5 columns]

In [368]:
data = train_data.merge(test_data, on ='patient_id')

from sklearn.model_selection import train_test_split

X = data
y = data['diagnosis']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

C:\Users\baron\.conda\envs\BD4H\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [370]:
data.to_csv('raw_data.csv')