In [20]:
import numpy as np
import pandas as pd
import os
for i in os.walk('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data'):
    print(i)

('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data', ['.ipynb_checkpoints', 'isruc-sleep', 'Sleep-EDF'], ['aggregateData.ipynb', 'aggregated_sleep_data.csv', 'cleaned_sleep_stage_data.csv', 'shhs1-dataset-0.15.0.csv', 'shhs1-hrv-5min-0.15.0.csv', 'shhs2-dataset-0.15.0.csv', 'shhs2-hrv-5min-0.15.0.csv'])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\.ipynb_checkpoints', [], ['aggregateData-checkpoint.ipynb'])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep', ['subgroupI', 'subgroupII', 'subgroupIII'], ['README.md'])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupI', [], ['README.md', 'scoring_i.csv', 'scoring_summary_i.csv'])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupII', ['.ipynb_checkpoints'], ['README.md', 'scoring_ii.csv', 'scoring_summary_ii.csv'])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupII\\.ipynb_checkpoints', [], [])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupIII', ['.ipynb_checkpoints'], ['README.md', 'scoring_iii.csv', 'scoring_summary_iii.csv'])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupIII\\.ipynb_checkpoints', [], [])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\Sleep-EDF', ['physionet.org'], [])
('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\Sleep-EDF\\physionet.org', [], ['README.md'])

In [55]:
df = pd.read_csv('aggregated_sleep_data.csv')
summary_isruc = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupI\\scoring_summary_i.csv')

,Unnamed: 0,nsrrid,session,0,1,2,3,5,total_stage,w%,...,rawpf_s2,rawre_s2,rawrp_s2,rawsf_s2,rawvt_s2,re_s2,rp_s2,sf_s2,vt_s2,age_s2
0,0,200079,1,21.0,14.0,526.0,35.0,34.0,630.0,3.333333,...,20.000000,6.0,4.0,6.0,5.0,100.000000,0.0,50.0,5.0,NaN
1,1,200082,1,52.0,33.0,462.0,151.0,182.0,880.0,5.909091,...,30.000000,6.0,8.0,10.0,15.0,100.000000,100.0,100.0,55.0,NaN
2,2,200108,1,86.0,24.0,432.0,113.0,155.0,810.0,10.617284,...,27.000000,4.0,7.0,9.0,14.0,33.333333,75.0,87.5,50.0,NaN
3,3,200109,1,85.0,62.0,301.0,336.0,86.0,870.0,9.770115,...,28.000000,6.0,8.0,10.0,20.0,100.000000,100.0,100.0,80.0,NaN
4,4,200112,1,82.0,39.0,472.0,73.0,144.0,810.0,10.123457,...,30.000000,6.0,8.0,10.0,16.0,100.000000,100.0,100.0,60.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,490,205654,2,200.0,52.0,573.0,15.0,160.0,1000.0,20.000000,...,NaN,NaN,NaN,10.0,15.0,NaN,NaN,100.0,55.0,72.0
977,491,205655,2,33.0,11.0,341.0,188.0,187.0,760.0,4.342105,...,27.777778,6.0,8.0,10.0,16.0,100.000000,100.0,100.0,60.0,63.0
978,492,205657,2,217.0,41.0,399.0,71.0,112.0,840.0,25.833333,...,28.888889,6.0,8.0,10.0,16.0,100.000000,100.0,100.0,60.0,68.0
979,493,205668,2,94.0,85.0,591.0,97.0,233.0,1100.0,8.545455,...,22.222222,6.0,7.0,10.0,18.0,100.000000,75.0,100.0,70.0,73.0
980,494,205677,2,291.0,49.0,422.0,147.0,111.0,1020.0,28.529412,...,28.888889,6.0,8.0,10.0,20.0,100.000000,100.0,100.0,80.0,68.0

In [77]:
cleaned_df = pd.read_csv('cleaned_sleep_stage_data.csv')
cleaned_df = cleaned_df[['epoch', 'nsrrid',
       'sleep_stage']]
cleaned_df.columns = ['epoch', 'patient_id', 'stage']
cleaned_df

        epoch  patient_id  stage
0        6960      200079      1
1        7260      200079      2
2        7560      200079      2
3        7860      200079      3
4        8160      200079      3
...       ...         ...    ...
865185  31080      205677      2
865186  31380      205677      2
865187  31680      205677      0
865188  31980      205677      0
865189  32280      205677      1

[865190 rows x 3 columns]

In [36]:
isruc1 = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupI\\scoring_i.csv')
isruc2 = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupII\\scoring_ii.csv')
isruc3 = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\isruc-sleep\\subgroupIII\\scoring_iii.csv')

C:\Users\baron\.conda\envs\BD4H\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,epoch,stage,spo2,hr,events,bpos,txln,txex,technote,patient_id,score_id
0,0,1.0,W,0.0,69.0,"L Out,MChg",R,0.0,0.0,NaN,1,1
1,1,2.0,W,97.0,67.0,NaN,R,0.0,0.0,NaN,1,1
2,2,3.0,W,97.0,60.0,NaN,R,0.0,0.0,NaN,1,1
3,3,4.0,W,97.0,60.0,NaN,R,0.0,0.0,NaN,1,1
4,4,5.0,W,97.0,64.0,NaN,R,0.0,0.0,NaN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
180364,856,857.0,R,95.0,69 Awake,NaN,L,0,0,NaN,100,2
180365,857,858.0,R,95.0,69 Awake,NaN,L,0,0,NaN,100,2
180366,858,859.0,R,95.0,55,NaN,L,0,0,NaN,100,2
180367,859,860.0,R,95.0,53,NaN,L,0,0,NaN,100,2
180368,860,861.0,R,0.0,48 L On,NaN,L,0,0,NaN,100,2

In [50]:
isruc1 = isruc1[['epoch', 'stage', 'spo2', 'hr', 'events', 'bpos', 'txln',
       'txex', 'technote', 'patient_id', 'score_id']]
isruc2 = isruc2[['epoch', 'stage', 'spo2', 'hr', 'events', 'bpos', 'txln',
       'txex', 'technote', 'patient_id', 'score_id']]
isruc3 = isruc3[['epoch', 'stage', 'spo2', 'hr', 'events', 'bpos', 'txln',
       'txex', 'technote', 'patient_id', 'score_id']]

In [67]:
isruc = pd.concat([isruc1, isruc2, isruc3])
isruc['patient_id'] += 2000
isruc = isruc[['epoch', 'patient_id','stage']]
isruc['epoch'] = isruc['epoch'].astype('int')
isruc

       epoch  patient_id stage
0          1        2001     W
1          2        2001     W
2          3        2001     W
3          4        2001     W
4          5        2001     W
...      ...         ...   ...
17773    792        2010     W
17774    793        2010     W
17775    794        2010     W
17776    795        2010     W
17777    796        2010     W

[226549 rows x 3 columns]

In [60]:
edf = pd.read_csv('C:\\Users\\baron\\OneDrive\\Documents\\cse6250group\\data\\sleep_edf_raw.csv')

In [61]:
edf[['epoch', 'patient_id', 'condition', 'EEG Fpz-Cz', 'EEG Pz-Oz',
       'EOG horizontal', 'Resp oro-nasal', 'EMG submental', 'Temp rectal',
       'Event marker']]
edf = edf[['epoch', 'patient_id','condition']]
edf.columns = ['epoch', 'patient_id', 'stage']

In [86]:
edf

       epoch  patient_id          stage
0          0           1  Sleep stage W
1          1           1  Sleep stage W
2          2           1  Sleep stage W
3          3           1  Sleep stage W
4          4           1  Sleep stage W
...      ...         ...            ...
83454   1699          83  Sleep stage W
83455   1700          83  Sleep stage W
83456   1701          83  Sleep stage W
83457   1702          83  Sleep stage W
83458   1703          83  Sleep stage W

[83459 rows x 3 columns]

In [88]:
final_df = pd.concat([cleaned_df, isruc, edf])
final_df.to_csv('raw_data.csv')

In [96]:
final_df = final_df.replace('Sleep stage W', 'W')
final_df = final_df.replace('Sleep stage R', 'R')
final_df = final_df.replace('Sleep stage 1', '1')
final_df = final_df.replace('Sleep stage 2', '2')
final_df = final_df.replace('Sleep stage 3/4', '3')
final_df = final_df.replace('w', 'W')

final_df

       epoch  patient_id stage
0       6960      200079     1
1       7260      200079     2
2       7560      200079     2
3       7860      200079     3
4       8160      200079     3
...      ...         ...   ...
83454   1699          83     W
83455   1700          83     W
83456   1701          83     W
83457   1702          83     W
83458   1703          83     W

[1175198 rows x 3 columns]

In [97]:
from sklearn.model_selection import train_test_split

X = final_df[['epoch','patient_id']]
y = final_df['stage']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)